.baniere-components{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
}
.baniere-img {
    display: flex;
    justify-content: space-around;
    filter: brightness(70%);
    width: 100%;
  }
.baniere-img img{
    border-radius: 25px;
    width: 100%;
}
.baniere-text{
    position: absolute;
}   
.baniere-text h1 {
    font-size: 48px;
    color: white;
    width: 100%;
}

@media screen and (max-width:800px){
    .baniere-text h1{
        font-size: 24px;
        margin: 2%;
    }
}